<template>
  <div class="container">
    <div class="row m-3">
      <div class="col">
        <h1>About ci4cr</h1>
        <hr/>
        <p>
          Multi-lingual (English / German / Italian) version of <a href="https://www.vci.de/die-branche/chemie-40/services/readiness-check-tool-chemie-4-punkt-0-wie-gut-ist-ihr-unternehmen-auf-digitale-und-zirkulaere-transformation-vorbereitet.jsp">Readiness-Check Chemie 4.0</a> © 2019 VCI, Deloitte, BAVC; based on Version 2.0 - 01. November 2019.
        </p>
        <p>
          This survey is open source, code is <a href="https://gitlab.com/simevo/ci4rc">here</a>.
        </p>
        <p>
          Survey implementation based on <a href="https://surveyjs.io">surveyjs.io</a>.
        </p>
        <p>
         Translations courtesy <a href="https://www.deepl.com/translator">www.DeepL.com/Translator (free version)</a>.
        </p>
        <div class="alert alert-danger"><b>ATTENTION</b> Work-in-progress ! Currently only the 1st sheet ("1. Strategie und Organisation") is implemented, and the back-end is not implemented.</div>

      </div>
    </div>
  </div>
</template>
