<template>
  <div class="container-fluid">
    <div class="form-group bg-warning">
      <label for="language">Select survey language</label>
      <select class="form-control" id="language" v-model="survey.locale">
        <option value="en">English</option>
        <option value="de">German</option>
        <option value="it">Italian</option>
      </select>
    </div>
    <survey :survey="survey"></survey>
    <div id="surveyResult"></div>
  </div>
</template>

<script>
import * as SurveyVue from 'survey-vue'

var Survey = SurveyVue.Survey
Survey.cssType = 'bootstrap'

var columns = [
  {
    value: 1,
    text: { 'de': 'Ungenügend / nicht erfüllt bzw. ich stimme gar nicht zu', 'default': 'Insufficient / not satisfied / Strongy disagree', 'it': 'Insufficiente / non soddisfatto / Molto in disaccordo' }
  },
  {
    value: 2,
    text: { 'de': 'Ich stimme nicht zu', 'default': 'Disagree', 'it': 'No' }
  },
  {
    value: 3,
    text: { 'de': 'Neutral', 'default': 'Neutral', 'it': 'Neutrale' }
  },
  {
    value: 4,
    text: { 'de': 'Ich stimme zu', 'default': 'Agree', 'it': 'Sì' }
  },
  {
    value: 5,
    text: { 'de': 'Sehr gut / vollumfänglich erfüllt bzw. ich stimme voll zu', 'default': 'Very good / fully satisfied / Strongly Agree', 'it': 'Molto buono / pienamente soddisfatto / fortemente d\'accordo' }
  }
]

var json = {
  title: { 'de': 'Readiness-Check Chemie 4.0', 'default': 'Chemical Industry 4.0 Readiness Check', 'it': 'Verifica della Preparazione alla Trasformazione Digitale per l\'Industria Chimica' },
  showProgressBar: 'top',
  pages: [
    {
      title: { 'default': '1. Strategy and organisation - Strategy (11 questions)', 'de': '1. Strategie und Organisation - Strategie (11 Fragen)', 'it': '1. Strategia e organizzazione - Strategia (11 domande)' },
      questions: [
        {
          type: 'matrix',
          title: { 'default': 'Please indicate if you agree or disagree with the following statements', 'de': 'Bitte geben Sie an, ob Sie mit den folgenden Aussagen einverstanden oder nicht einverstanden sind', 'it': 'Indicate se siete d\'accordo o meno con le seguenti affermazioni' },
          columns: columns,
          rows: [
            {
              value: 'q1',
              text: { 'default': '1.1 We attach great importance to the topic of digitization for the sustainable success of our company.', 'de': '1.1 Wir messen dem Thema Digitalisierung für den nachhaltigen Erfolg unseres Unternehmens einen hohen Stellenwert bei.', 'it': '1.1 Attribuiamo grande importanza al tema della digitalizzazione per il successo sostenibile della nostra azienda.' }
            },
            {
              value: 'q2',
              text: { 'default': '1.2 We attach great importance to the topic of the circular economy for the sustainable success of our company.', 'de': '1.2 Wir messen dem Thema zirkuläre Wirtschaft für den nachhaltigen Erfolg unseres Unternehmens einen hohen Stellenwert bei.', 'it': '1.2 Attribuiamo grande importanza al tema dell\'economia circolare per il successo sostenibile della nostra azienda.' }
            },
            {
              value: 'q3',
              text: { 'default': '1.3 Digitisation (e.g. the collection and use of data to optimise operational processes or to expand the business model) is part of our corporate strategy. We have defined expectations and goals.', 'de': '1.3 Die Digitalisierung (z.B. das Sammeln und Nutzen von Daten zur Optimierung betrieblicher Prozesse oder zur Erweiterung des Geschäftsmodells) ist Teil unserer Unternehmensstrategie. Wir haben Erwartungen und Ziele definiert.', 'it': '1.3 La digitalizzazione (ad esempio, la raccolta e l\'utilizzo dei dati per ottimizzare i processi operativi o per ampliare il modello di business) fa parte della nostra strategia aziendale. Abbiamo definito aspettative e obiettivi.' }
            },
            {
              value: 'q4',
              text: { 'default': '1.4 Digitization is backed up by concrete measures in our company.', 'de': '1.4 Digitalisierung ist in unserem Unternehmen mit konkreten Maßnahmen hinterlegt.', 'it': '1.4 La digitalizzazione è supportata da misure concrete nella nostra azienda.' }
            },
            {
              value: 'q5',
              text: { 'default': '1.5 The circular economy (e.g. increasing resource efficiency, switching to renewable resources, minimising environmental impact and closing material cycles) is part of our corporate strategy. We have defined expectations and goals.', 'de': '1.5 Die zirkuläre Wirtschaft (z.B. die Steigerung der Ressourceneffizienz, die Umstellung auf erneuer-bare Ressourcen, die Minimierung der Umweltbeeinträchtigung sowie das Schließen von Stoff-kreisläufen) ist Teil unserer Unternehmensstrategie. Wir haben Erwartungen und Ziele definiert.', 'it': '1.5 L\'economia circolare (ad esempio, aumento dell\'efficienza delle risorse, passaggio a risorse rinnovabili, riduzione dell\'impatto ambientale e chiusura dei cicli dei materiali) fa parte della nostra strategia aziendale. Abbiamo definito aspettative e obiettivi.' }
            },
            {
              value: 'q6',
              text: { 'default': '1.6 The implementation of the circular economy is backed by concrete measures.', 'de': '1.6 Die Umsetzung der zirkulären Wirtschaft ist mit konkreten Maßnahmen hinterlegt.', 'it': '1.6 L\'attuazione dell\'economia circolare è sostenuta da misure concrete.' }
            },
            {
              value: 'q7',
              text: { 'default': '1.7 We have defined a concrete investment budget for digitisation.', 'de': '1.7 Wir haben für Digitalisierung ein konkretes Investitionsbudget festgelegt.', 'it': '1.7 Abbiamo definito un bilancio concreto per gli investimenti per la digitalizzazione.' }
            },
            {
              value: 'q8',
              text: { 'default': '1.8 We have defined a concrete investment budget for the circular economy.', 'de': '1.8 Wir haben für zirkuläre Wirtschaft ein konkretes Investitionsbudget festgelegt.', 'it': '1.8 Abbiamo definito un bilancio concreto degli investimenti per l\'economia circolare.' }
            },
            {
              value: 'q9',
              text: { 'default': '1.9 Agile action and an open corporate culture that also accepts mistakes are an integral part of our company and are thus perceived by our workforce.', 'de': '1.9 Agiles Handeln und eine offene, auch fehlerakzeptierende Unternehmenskultur sind fester Bestandteil unseres Unternehmens und werden auch so von unserer Belegschaft wahrgenommen.', 'it': '1.9 Un\'azione agile e una cultura aziendale aperta che accetta anche gli errori sono parte integrante della nostra azienda e sono quindi percepiti dai nostri dipendenti.' }
            },
            {
              value: 'q10',
              text: { 'default': '1.10 Working flexibly in terms of time and place (mobile) is a natural part of our corporate culture.', 'de': '1.10 Zeit- und ortsflexibles (mobiles) Arbeiten ist selbstverständlicher Teil unserer Unternehmenskultur.', 'it': '1.10 Lavorare in modo flessibile in termini di tempo e luogo (mobile) è una parte naturale della nostra cultura aziendale.' }
            },
            {
              value: 'q11',
              text: { 'default': '1.11 A culture of trust, especially with regard to working hours, plays a major role in our corporate strategy.', 'de': '1.11 Vertrauenskultur, insbesondere in Bezug auf Arbeitszeit, nimmt einen großen Raum in unserer Unternehmensstrategie ein.', 'it': '1.11 La cultura della fiducia, soprattutto per quanto riguarda l\'orario di lavoro, svolge un ruolo importante nella nostra strategia aziendale.' }
            }
          ]
        }
      ]
    },
    {
      title: { 'default': '1. Strategy and organisation - Business models (6 questions)', 'de': '1. Strategie und Organisation - Geschäftsmodelle (6 Fragen)', 'it': '1. Strategia e organizzazione - Modelli di business (6 domande)' },
      questions: [
        {
          type: 'matrix',
          title: { 'default': 'Please indicate if you agree or disagree with the following statements', 'de': 'Bitte geben Sie an, ob Sie mit den folgenden Aussagen einverstanden oder nicht einverstanden sind', 'it': 'Indicate se siete d\'accordo o meno con le seguenti affermazioni' },
          columns: columns,
          rows: [
            {
              value: 'q12',
              text: { 'de': '1.12 Wir haben unsere Wertschöpfungskette (F+E, Produktion, Marketing+Vertrieb) systematisch auf Chancen und Risiken durch Digitalisierung und damit verbundene mögliche Geschäftsmodelle bewertet.', 'default': '1.12 We have systematically assessed our value chain (R&D, production, marketing+sales) for opportunities and risks arising from digitisation and related potential business models.', 'it': '1.12 Abbiamo valutato sistematicamente la nostra catena del valore (R&S, produzione, marketing+vendita) alla ricerca di opportunità e rischi derivanti dalla digitalizzazione e dai potenziali modelli di business correlati.' }
            },
            {
              value: 'q13',
              text: { 'de': '1.13 Datenbasierte und serviceorientierte Geschäftsmodelle mittels Digitalisierung sind bereits Bestandteil unserer Strategie bzw. werden aktiv gesucht oder entwickelt.', 'default': '1.13 Data-based and service-oriented business models based on digitization are already part of our strategy or are actively being sought or developed.', 'it': '1.13 I modelli di business basati sui dati e orientati ai servizi e basati sulla digitalizzazione fanno già parte della nostra strategia o sono attivamente ricercati o sviluppati.' }
            },
            {
              value: 'q14',
              text: { 'de': '1.14 Neue Geschäftsmodelle für eine zirkuläre Wirtschaftsweise sind bereits Bestandteil unserer Strategie und bzw. werden aktiv gesucht oder entwickelt.', 'default': '1.14 New business models for a circular economy are already part of our strategy and are actively sought or developed.', 'it': '1.14 Nuovi modelli di business per un\'economia circolare fanno già parte della nostra strategia e sono attivamente ricercati o sviluppati.' }
            },
            {
              value: 'q15',
              text: { 'de': '1.15 Wir analysieren und setzen Geschäftsmodelle um, die die Möglichkeiten der zirkulären Wirtschaft und der Digitalisierung kombinieren bzw. planen dies konkret in naher Zukunft zu tun.', 'default': '1.15 We analyse and implement business models that combine the possibilities of the circular economy and digitisation or plan to do so in the near future.', 'it': '1.15 Analizziamo e realizziamo modelli imprenditoriali che combinano le possibilità dell\'economia circolare e della digitalizzazione o che prevedono di farlo nel prossimo futuro.' }
            },
            {
              value: 'q16',
              text: { 'de': '1.16 Wir arbeiten intensiv mit Hardware (Sensoren, Aktoren, etc.) / Software (Datenanalytik, etc.) Firmen zusammen, um neue Geschäftsmodelle zu ermöglichen.', 'default': '1.16 We work intensively with hardware (sensors, actuators, etc.) / software (data analysis, etc.) companies to enable new business models.', 'it': '1.16 Lavoriamo intensamente con le aziende hardware (sensori, attuatori, ecc.) / software (analisi dei dati, ecc.) per consentire nuovi modelli di business.' }
            },
            {
              value: 'q17',
              text: { 'de': '1.17 Wir arbeiten mit Partnern auch außerhalb unserer Branche (Ökonomische Netzwerke) zusammen, um unseren Kunden ein Gesamtpaket aus (neuen) Produkten und Dienstleistungen anzubieten.', 'default': '1.17 We also work with partners outside our industry (economic networks) to offer our customers a complete package of (new) products and services.', 'it': '1.17 Lavoriamo anche con partner esterni al nostro settore (reti economiche) per offrire ai nostri clienti un pacchetto completo di (nuovi) prodotti e servizi.' }
            }
          ]
        }
      ]
    },
    {
      title: { 'default': '1. Strategy and organisation - Organisation (5 questions)', 'de': '1. Strategie und Organisation - Organisation (5 Fragen)', 'it': '1. Strategia e organizzazione - Organizzazione (5 domande)' },
      questions: [
        {
          type: 'matrix',
          title: { 'default': 'Please indicate if you agree or disagree with the following statements', 'de': 'Bitte geben Sie an, ob Sie mit den folgenden Aussagen einverstanden oder nicht einverstanden sind', 'it': 'Indicate se siete d\'accordo o meno con le seguenti affermazioni' },
          columns: columns,
          rows: [
            {
              value: 'q18',
              text: { 'de': '1.18 Wir haben eine(n) Verantwortliche(n) für Digitalisierung im Unternehmen etabliert.', 'default': '1.18 We have established a responsible person(s) for digitisation in the company.', 'it': '1.18 Abbiamo istituito una o più persone responsabili della digitalizzazione in azienda.' }
            },
            {
              value: 'q19',
              text: { 'de': '1.19 Wir haben ein Digitalisierungsteam bzw. digitale Organisationseinheit, das bzw. die unabhängig vom laufenden Geschäft agiert und entsprechende Aktivitäten koordiniert.', 'default': '1.19 We have a digitisation team or digital organisational unit that operates independently of the business and coordinates activities.', 'it': '1.19 Abbiamo un team di digitalizzazione o un\'unità organizzativa digitale che opera indipendentemente dal business e coordina le attività.' }
            },
            {
              value: 'q20',
              text: { 'de': '1.20 Wir haben eine(n) Verantwortliche(n) für zirkuläre Wirtschaft (o.Ä.) im Unternehmen etabliert.', 'default': '1.20 We have established a responsible person(s) for circular economy (or similar) in the company.', 'it': '1.20 Abbiamo costituito una o più persone responsabili dell\'economia circolare (o simili) nell\'azienda.' }
            },
            {
              value: 'q21',
              text: { 'de': '1.21 Wir haben ein Team „zirkuläre Wirtschaft“ (o.Ä.) bzw. eine entsprechende Organisationseinheit, das bzw. die unabhängig vom laufenden Geschäft agiert und entsprechende Aktivitäten koordiniert.', 'default': '1.21 We have a “circular economy“ (or similar) team or organizational unit that acts independently of the current business and coordinates the corresponding activities.', 'it': '1.21 Abbiamo un team (o unità organizzativa) di "economia circolare" (o simile) che agisce indipendentemente dall\'attività corrente e coordina le attività corrispondenti.' }
            },
            {
              value: 'q22',
              text: { 'de': '1.22 Wir haben einen Gesamtverantwortlichen für Chemie 4.0 im Unternehmen benannt, der alle Aktivitäten in Bezug auf Digitalisierung und zirkuläre Wirtschaft koordiniert.', 'default': '1.22 We have appointed a general manager for chemistry 4.0 in the company who coordinates all activities related to digitization and the circular economy.', 'it': '1.22 Abbiamo nominato un direttore generale per la chimica 4.0 dell\'azienda che coordina tutte le attività legate alla digitalizzazione e all\'economia circolare.' }

            }
          ]
        }
      ]
    },
    {
      title: { 'default': '1. Strategy and organisation - Flexible working (7 questions)', 'de': '1. Strategie und Organisation - Flexibles Arbeiten (7 Fragen)', 'it': '1. Strategia e organizzazione - Lavoro flessibile (7 domande)' },
      questions: [
        {
          type: 'matrix',
          title: { 'default': 'Please indicate if you agree or disagree with the following statements', 'de': 'Bitte geben Sie an, ob Sie mit den folgenden Aussagen einverstanden oder nicht einverstanden sind', 'it': 'Indicate se siete d\'accordo o meno con le seguenti affermazioni' },
          columns: columns,
          rows: [
            {
              value: 'q23',
              text: { 'de': '1.23 Unserem Unternehmen ist es sehr wichtig, allen Mitarbeitern unterschiedliche tarifliche / betriebliche Instrumente (z.B. Langzeitkonten, RV-80-Modell, flexible Arbeitszeitmodelle) anzubieten, die ein lebensphasenorientiertes Arbeiten ermöglichen (wie Weiterbildung, Kinderbetreuung, Pflege von Angehörigen, Sabbatical oder Übergang in den Ruhestand).', 'default': '1.23 It is very important for our company to offer all employees various collective / company instruments (e.g. long-term accounts, RV-80 model, flexible working time models) that enable them to work in phases of their lives (such as further training, childcare, caring for relatives, sabbaticals or transition to retirement).', 'it': '1.23 È molto importante per la nostra azienda offrire a tutti i dipendenti diversi strumenti collettivi/aziendali (ad esempio conti a lungo termine, modello RV-80, modelli di orario di lavoro flessibile) che consentano loro di lavorare nelle fasi della loro vita (ad esempio formazione continua, assistenza all\'infanzia, assistenza ai parenti, periodi sabbatici o passaggio alla pensione).' }
            },
            {
              value: 'q24',
              text: { 'de': '1.24 Unseren Mitarbeitern eine individuelle Gestaltung ihrer Arbeitszeit zu ermöglichen, spielt in unserem Unternehmen eine große Rolle (z.B. Teilzeit, Gleitzeit, Vertrauensarbeitszeit, Jobsharing, zeit- und ortflexibles Arbeiten).', 'default': '1.24 Enabling our employees to organise their working hours individually plays a major role in our company (e.g. part-time work, flexitime, trust-based working hours, job sharing, flexible working hours and locations).', 'it': '1.24 La possibilità per i nostri dipendenti di organizzare individualmente il proprio orario di lavoro gioca un ruolo importante nella nostra azienda (ad esempio, lavoro part-time, orario flessibile, orari di lavoro basati sulla fiducia, job sharing, orari e luoghi di lavoro flessibili).' }
            },
            {
              value: 'q25',
              text: { 'de': '1.25 Flexible Arbeitsformen werden in der Produktion (z.B. Schichtplanungs-App, asymmetrische Schichtdauer) bereits umfassend durch unsere Mitarbeiter genutzt.', 'default': '1.25 Flexible forms of work are already extensively used by our employees in production (e.g. shift planning app, asymmetrical shift duration).', 'it': '1.25 Le forme di lavoro flessibili sono già ampiamente utilizzate dai nostri dipendenti nella produzione (ad es. applicazione per la pianificazione del turno, durata asimmetrica del turno).' }
            },
            {
              value: 'q26',
              text: { 'de': '1.26 Die Mitarbeiter unseres Unternehmens stehen flexiblen Arbeitsbedingungen / Arbeitsformen, die sich aus der digitalen Transformation ergeben (z. B. Arbeitsinhalt, Arbeitszeiten oder Zugänglichkeit), offen gegenüber.', 'default': '1.26 The employees of our company are open to flexible working conditions / forms of work resulting from digital transformation (e.g. work content, working hours or accessibility).', 'it': '1.26 I dipendenti della nostra azienda sono aperti a condizioni di lavoro flessibili / forme di lavoro derivanti dalla trasformazione digitale (ad es. contenuti di lavoro, orari di lavoro o accessibilità).' }
            },
            {
              value: 'q27a',
              text: { 'de': '1.27 a) Mobile Endgeräte als Arbeitsmittel sind von großer Bedeutung für unsere Mitarbeiter... in der Produktion,', 'default': '1.27 a) Mobile terminals as work equipment are of great importance for our employees... in production,', 'it': '1.27 a) I terminali mobili come attrezzature di lavoro sono di grande importanza per i nostri dipendenti... in produzione' }
            },
            {
              value: 'q27b',
              text: { 'de': '1.27 b) ... im Office-Bereich,', 'default': '1.27 b) ... in the office area,', 'it': '1.27 b) ... nell\'area ufficio,' }
            },
            {
              value: 'q27c',
              text: { 'de': '1.27 c) ... in den Laboren.', 'default': '1.27 c) ... in the laboratories.', 'it': '1.27 (c) ... nei laboratori.' }
            }
          ]
        }
      ]
    }
  ]
}

window.survey = new SurveyVue.Model(json)
// You may set model properties
// survey.mode = "display"
window.survey.locale = 'en'

window.survey
  .onComplete
  .add(function (result) {
    document
      .querySelector('#surveyResult')
      .textContent = 'Result JSON:\n' + JSON.stringify(result.data, null, 3)
  })

export default {
  name: 'surveyapp',
  components: {
    Survey
  },
  data () {
    return {
      survey: window.survey
    }
  }
}
</script>
