<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/">
        <img src="https://simevo.com/images/logo_headline.png" alt="simevo - simulation, evolved" height="30"> ci4rc
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <router-link class="nav-item nav-link" to="/">Home</router-link>
          <router-link class="nav-item nav-link" to="/survey">Survey</router-link>
          <router-link class="nav-item nav-link" to="/about">About</router-link>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
nav {
  padding: 30px;

  a {
    &.router-link-exact-active {
      color: cyan!important;
    }
  }
}
</style>
